.menu__layer_wrap
    .layer_left
    .layer_right
    .menu__items
        .menu_item
            a(href="./myworks.html") мои работы
        .menu_item
            a(href="./blog.html") блог
        .menu_item
            a(href="./about.html") обо мне
        .menu_item
            a(href="./index.html") авторизация