.preload__wrap
	.preload
		.loader-bar
		svg(viewBox="-40 -40 200 200" width="200" height="200" class="piechart"  preserveAspectRatio="xMinYMin meet")
			circle(fill="none" stroke-width="3" stroke-dasharray="314.159265" stroke-dashoffset="314.15" cx="60" cy="60" r="40" transform="rotate(-90, 60, 60)" class="circle__down")
			circle(data-percentage="0" fill="none" stroke-width="10" stroke-linecap="round" stroke-dasharray="0 315" stroke-dashoffset="0.0" cx="60" cy="60" r="50" transform="rotate(-90, 60, 60)" class="circle__up")