.wrapper
	section.section__form
		.section__form_wrap
			.section__form_head.hide что обо мне говорят
			.section__form_quotes
				.quotes__block.hide
					.quotes__block_img
						img(src="assets/img/dima.png").quotes__block_img-item
					.quotes__block_txt Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
					.quotes__block_peoples
						.quotes__block_name Ковальчук Дмитрий
						.quotes__block_post — основатель Loftschool
				.quotes__block.hide
					.quotes__block_img
						img(src="assets/img/zar.png").quotes__block_img-item
					.quotes__block_txt Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
					.quotes__block_peoples
						.quotes__block_name Зар Захаров 
						.quotes__block_post — главный преподаватель
			.form__wrap.hide
				form.form
					.form__text Связаться со мной
					.form__line _____
					input(type="text" name="name" placeholder="Ваше имя").form__name
					input(type="email" name="email" placeholder="Ваш e-mail").form__email
					textarea(name="msg" placeholder="Ваше сообщение").form__msg
					button(type="submit").form__submit.form__button Отправить
					button(type="reset").form__clear.form__button Очистить
		.form__top-icon
			a(href="#header").fa &#xf077;
