.wrapper.skills__wrapper
	.section__skills
		.section__skills_left
			.left__wrap
				img(src="assets/img/ava.jpg").left__wrap-img
				.left__wrap-header Кто я
				.left__wrap-text Я веб разработчик из Санкт-Петербурга. Мне 22 года. Я учусь разрабатывать современные сайты и приложения. Мне нравится делать интересные и современные проекты.
				.left__wrap-text Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
		.section__skills_right section right