.section__map
	#map
	.map__block
		.right__header Контакты
		.main__block_contacts-item
			.item__circle
				span.fa &#xf17e;
			.item__text open__air
		.main__block_contacts-item
			.item__circle
				span.fa &#xf095;
			.item__text +7 911 123 45 67
		.main__block_contacts-item
			.item__circle
				span.fa &#xf0e0;
			.item__text dmitalyona@yandex.ru
		.main__block_contacts-item
			.item__circle
				span.fa &#xf041;
			.item__text г. Санкт-Петербург