.slider__wrap#slider
	section.slider
		.slider__left
			.slider__display.hide
				img(src="assets/img/site1.png")
			ul.slider__left__text.hide
				li.slider__left__text-item.active__text
					.slider__left__text_head Сайт школы онлайн образования
					.slider__left__text_text HTML, CSS, JAVASCRIPT
					a(hfref="#").slider__left__text_button
						span.fa &#xf0c1; 
						.slider__left__text_button-item Посмотреть сайт
				li.slider__left__text-item
					.slider__left__text_head Сайт 2
					.slider__left__text_text технологии 2
					a(hfref="#").slider__left__text_button
						span.fa &#xf0c1; 
						.slider__left__text_button-item Посмотреть сайт
				li.slider__left__text-item
					.slider__left__text_head Сайт 3
					.slider__left__text_text технологии 3
					a(hfref="#").slider__left__text_button
						span.fa &#xf0c1; 
						.slider__left__text_button-item Посмотреть сайт
		.slider__right.hide

			.slider__controls.hide
				a(hfref="#").slider__controls-item.slider__control_up
					ul.control__up-list
						li.control__up-item
							img(src="assets/img/site1.png")
						li.control__up-item.control_active_up
							img(src="assets/img/site2.png")
						li.control__up-item
							img(src="assets/img/site3.png")
				a(hfref="#").slider__controls-item.slider__control_down
					ul.control__down-list
						li.control__down-item
							img(src="assets/img/site1.png")
						li.control__down-item
							img(src="assets/img/site2.png")
						li.control__down-item.control_active_down
							img(src="assets/img/site3.png")
					