.slider__wrap#slider(current_slide=0)
    section.left
        ul
    section.right
        section#current_slide
            ul
        section#slider_controls
            button.slider_control__item#next_slide
                ul
            button.slider_control__item#previous_slide
                ul