// layouts
@import "common/variables";
@import "adjustment";
@import "common/mixins";
@import "common/fonts";
@import "common/font-awesome";
@import "common/font-icomoon";

//styles
@import "common/header";
@import "common/section__skills";
@import "common/footer";
@import "common/section__map";

.header__triangle{
	opacity: 1;
}

.polygon__left{
	fill: #f2f0e8;
}

.polygon__right{
	fill: #eae8e2;
}

.header__works{
	display: none;
}

.header__works_stars2{
	margin-left: -37px;
	left: 0;
}

.stars2_line{
	stroke: #dbe0e6;
}

.works__txt{
	color: $grey;
	text-align: left;
}