// layouts
@import "common/variables";
@import "adjustment";
@import "common/mixins";
@import "common/fonts";
@import "common/font-awesome";
@import "common/font-icomoon";
@import "common/media";

//styles
@import "common/header";
@import "common/section__skills";
@import "common/footer";
@import "common/section__map";
@import "menu__layer";

.header__triangle{
	opacity: 1;
}

.polygon__left{
	fill: #f2f0e8;
}

.polygon__right{
	fill: #eae8e2;

	@include tablets{
		fill: #f2f0e8;
	}
}

.header__works{
	display: none;
}

.header__works_stars2{
	margin-left: -37px;
	left: 0;

	@include desktop{
		margin-left: 0;
		left: none;
	}
}

.stars2_line{
	stroke: #dbe0e6;
}

.works__txt{
	color: $grey;
	text-align: left;

	@include tablets{
		
	}
}