.wrapper
	.footer
		.footer__top 
			.footer__top_block
				.footer__top__block_txt Этот сайт был сделан в рамках обучения в Школе онлайн образования LoftSchool. 
			.footer__top_block#nav
				.footer__top__block_nav
					.footer__top__block_nav-menu
						a(href="myworks.html").footer__link Мои работы
						a(href="about.html").footer__link Обо мне
						a(href="blog.html").footer__link Блог
						a(href="index.html").footer__link Авторизация
					.footer__top__block_nav-socials
						a(href="https://vk.com/alienna" target="_blank").footer__socials_link
							span
								.fa &#xf189;
						a(href="https://github.com/AlenaDmit" target="_blank").footer__socials_link
							span
								.fa &#xf113;
						a(href="https://instagram.com/alienna25" target="_blank").footer__socials_link
							span
								.fa &#xf16d;
			.footer__top_block#contacts
				.footer__top_block-contacts Skype: open__air
				.footer__top_block-contacts dmitaltona@yandex.ru
				.footer__top_block-contacts + 7911 123 45 67
				.footer__top_block-contacts г. Санкт-Петербург
		.footer__bottom 
			.footer__bottom-text © Алёна Дмитриевская | Создано с любовью в LoftSchool | 2016