.slider__wrap#slider{
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  >section{
    width: 50%;
    height: 100%;

    &.left{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      >ul>li{
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &.active{
          display: flex;
        }
        >p{
          text-transform: uppercase;
          color: $blue;
          @include robotoM();

          &:nth-child(1){
            font-size: rem(35px);
            @include sansus();
            color: #474b57;
          }

          &:nth-child(1):after{
            content: '';
            display: block;
            width: 90px;
            height: 3px;
            background-color: #9c9c9a;
            margin: auto;
            margin-top: 30px;
          }
        }
        >a{
          background: $blue;
          padding: 13px;
          cursor: pointer;
          transition: background .3s;
          color: white;
          margin: 30px 0 0 0;

          &:hover{
            background: rgba($blue, .7);
          }
        }
      }
    }
    &.right{
      >#current_slide{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70%;
        background-color: #e3e2de;
        position: relative;

        >ul{
          height: 100%;

          > li {
            height: 100%;
            display: none;
            align-items:center;
            justify-content:center;

            > img {
              max-width: 90%;
              max-height: 90%;
              user-select: none;
            }
            &.active {
              display: flex;
            }
          }
        }
      }

      #slider_controls{
        height: 30%;
        display: flex;
        flex-direction: row;
        position: relative;

        >.slider_control__item{
          display: flex;
          width: 50%;
          height: 100%;
          position: relative;
          align-items: center;
          justify-content: center;
          border: none;
          outline: none;
          transition: all, .3s;
          &:after{
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            background: rgba(0,0,0, .3);
            z-index: 2;
          }
          &:hover{
            cursor: pointer;
            background: rgba(0,0,0, .4);
          }

          >ul{
            height: 100%;

            > li {
              display: none;
              align-items:center;
              justify-content:center;
              height: 100%;
              &.active {
                display: flex;
                align-items:center;
                justify-content:center;
                height: 100%;
                >img{
                  max-width: 70%;
                  max-height: 70%;
                  user-select: none;
                }
              }
            }
          }
        }

        #next_slide{
          &:hover:before{
            font-size: 90px;
          }

          &:before{
            content: '\f102';
            font: 70px 'FontAwesome';
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: 3;
            transition: all, .3s;
          }
        }

        #previous_slide{
          &:hover:before{
            font-size: 90px;
          }

          &:before{
            content: '\f103';
            font: 70px 'FontAwesome';
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: 3;
            transition: all, .3s;
          }
        }
      }
    }
  }
}