// colors
$blue: #004cd1;
$grey: #373e42;
$grey-blue: #474b57;
$circle-bg: #dfdcd5;

// adjustment variables
$container-width: 1740px;
$footer-height: 192px;
$header-head: 185px;
$footer-height-tablets: 213px;
$footer-height-phones: 324px;